*
{
  margin: 0;
  padding: 0;
  font-size: 12px;
}

:root{
  --main-color : grey;
  --dark-color : #0d0d0d;
  --light-color: #fff;
}

canvas {
  display: block;
}

html,
body
{
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  color: grey;
}

li a, button {
  text-shadow: 0 0 2px #a1a1a1;
  mix-blend-mode: difference;
}

a {
  text-decoration: none;
  color: inherit;
}

.home nav{
  align-self: center;
  justify-self: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 9999;
  mix-blend-mode: difference;
}

.exp h1 {
  align-self: center;
  font-size: 1rem;
  top: 4rem;
  font-weight: 400;
  mix-blend-mode: difference;
  text-shadow: 0 0 2px #a1a1a1;;
}


li {list-style: none;}

button {
  background-color: unset;
  border: unset;
  color: var(--main-color);
  text-transform: uppercase;
}

/* Dropdown */

.dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  min-width: 160px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  transition: .3s all;
}

.dark-drop a {
  color: var(--dark-color);
}

.dropdown-content a{
  padding: .5rem 0;
  color: grey;
  transition: .3s all;
}


.dropdown-content a:first-child{
  margin-top: 1rem;
}

.dropdown-content a:hover{
  color: var(--ligh-color);
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  transition-delay: .3s all ease-in-out;
}

.desk-nav {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  mix-blend-mode: difference;
  z-index: 9999;
}

.nav-grid {
  display: grid;
  grid-template-columns: 1fr 4.5fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
 }

.laniakea .slides {
  padding: unset;
}

.laniakea section .column{
  height: 100vh;
}

/* HOME PAGE */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  text-transform: uppercase;
}

.container li:nth-child(2) {
  margin-left: 1rem;
}

.container nav, h1 {
  z-index: 999;
}

.soundbtn:hover, h1:hover, li:hover, button:hover {
  cursor: pointer;
  color: var(--light-color);
}

.webgl
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

/* Button animation*/
.soundbtn {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 6rem;
  left: 2rem;
  text-shadow: 0 0 2px #a1a1a1;
  mix-blend-mode: difference;
}

.wave {
  display: flex;
  align-items: center;
  height: 30px;
  text-shadow: 0 0 2px #a1a1a1;
  mix-blend-mode: difference;
}

.wave span {
  height: 10px;
  margin-right: 4px;
  display: block;
  background-color: var(--main-color);
  width: 1px;
  transform: scaleY(1);
}

.wave span {
  animation: none;

}

.active .wave span {
  animation: line 1000ms cubic-bezier(0.250, 0, 0.705, 1) infinite alternate;
  background-color: white;
}

@keyframes line{
  0%{height: 10px;transform: scaleY(1); }
  100%{height: 18px;transform: scaleY(1.05);}
}

.wave:hover span{
  cursor: pointer;
  background-color: var(--light-color);
}

.wave span:nth-child(1) {
  animation-delay: 200ms;
}

.wave span:nth-child(3) {
  animation-delay: 400ms;
}

.wave span:nth-child(5) {
  animation-delay: 600ms;
}

.wave span:nth-child(2) {
  animation-delay: 100ms;
  animation-direction: alternate-reverse;
}

.wave span:nth-child(4) {
  animation-delay: 500ms;
  animation-direction: alternate-reverse;
}

.wave span:nth-child(6) {
  animation-delay: 600ms;
  animation-direction: alternate-reverse;
}

/* IMAGE BOX */
.lightbox {
  z-index: 99;
  align-self: center;
  opacity: 0;
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
}

/* .lightbox button {
  margin-top: 1rem;
} */

.lightbox img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.img-active:hover {
  cursor:zoom-out;
}

/* LOADING BAR */
.loading-bar
{
  position:absolute;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background: #ffffff;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.5s;
  will-change: transform;
}

.loading-bar.ended
{
  transform-origin: top right;
  transition: transform 1.5s ease-in-out;
}

.active{
  color: var(--light-color) !important;
}

/* ABOUT PAGE */
#about {
  position: absolute;
  top: 0;
  z-index: 9999;
  background-color: var(--dark-color);
  height: 100%;
  overflow-y: scroll;
}

.about-grid {
  display: grid;
  height: 100%;
  color: var(--dark-color);
}

.about-grid .contact {
  text-align: center;
}

.about-grid .parcour ul {
  flex-direction: column;
}

.bio, .parcour {
  padding: 2rem;
}

.bio {
  text-shadow: 0px 0px 10px #666666;
  background-color: var(--light-color);
}

.bio p {
  font-size: 2.5rem;
}
.parcour p {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.parcour {
  text-shadow: 0px 0px 2px var(--dark-color);
  background-color: var(--light-color);
}

.darkbg{
  color:  var(--light-color);
  background-color: var(--dark-color);
}

.light-shadow {
  text-shadow: 0px 0px 2px var(--light-color);
}

.blight-shadow {
  text-shadow: 0px 0px 10px var(--light-color);
}

.dark-shadow {
  text-shadow: 0px 0px 10px #666666;
}


.contact {
  margin-top: 2rem;
  margin-bottom: 3em;
  text-align: center;
  width: 100vw;
  color: var(--light-color);
  mix-blend-mode: difference;
  font-size: 1em;
  line-height: 1.1em;
  text-transform: uppercase;
  text-shadow: 0px 0px 2px #fff;
}

.section-footer {
  display: block;
  width: 100%;
  height: 6rem;
  background: linear-gradient(to top, #000 0%, #0000 100%);
  mix-blend-mode: darken;
  background-color: white;
  display: flex;
  position: fixed;
  bottom: 0;
}

.arrow-wrap {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  mix-blend-mode: difference;
}

.arrow-down {
  content: "";
  width: 16px;
  height: 16px;
  mix-blend-mode: difference;
  border-top: 0.2em solid #fff;
  border-right: 0.2em solid #fff;
  margin-left: 1em;
  margin-right: 0.5em;
  display: inline-block;
  transform: rotate(135deg);
  z-index: 999;
}

.close-wrapper {
  position: fixed;
  bottom: 0;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.close-wrapper a {
  text-transform: uppercase;
  color: white;
  font-size: 1.3rem;
}

.cls::before {
  content: url("./static/icons/clsbtn.png");
  display: inline-block;
  margin-right: .5rem;
  margin-top: 3px;
}

.close {
  padding: 9px;
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  display: block;
  position: absolute;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: var(--light-color);
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}


/* Series STYLES */
#series {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
}

#series nav ul li {
  text-transform: uppercase;
}

#series nav ul li:nth-child(2) {
  margin-left: 1rem;
  text-transform: uppercase;
}

.serie-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); ;
  grid-gap: 1rem;
  margin-bottom: 1rem;
 }

 .column{
   grid-column: span var(--span);
 }

 .namecount {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: 85.8vh;
  position: absolute;
  width: 100%;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  text-shadow: 0 0 2px grey;
  mix-blend-mode: difference;
 }

/* CLASS STYLES */
.flex {display: flex;}
.dir-column { flex-direction: column;}
.row { flex-direction: row;}

.f-1 {
  flex: 1
}
.f-2 {
  flex: 2
}
.f-3 {
  flex: 3
}

.justify-center {justify-content: center;}
.self-end {justify-self: end;}
.self-start {justify-self: start;}
.align-center {align-items: center;}

.absolute {position:absolute;}
.top-50 {top:50%}
.right-0 {right: 0rem;}
.right-2 {right: 2rem;}
.block {display: block;}

.mb-05 {margin-bottom: .5rem;}
.mb-1  {margin-bottom: 1rem;}
.mb-2  {margin-bottom: 2rem;}
.mb-3  {margin-bottom: 3rem;}
.mb-4  {margin-bottom: 4rem;}
.mb-8  {margin-bottom: 8rem;}

.mt-2 {margin-top: 2rem;}
.mt-4 {margin-top: 4rem;}

.ml-2 {margin-left: 2rem;}

.mb-auto {margin-bottom: auto;}
.mt-auto {margin-top: auto;}

.zindextop {z-index:999999}

.z-index-3 {z-index:999999}
.z-index-2 {z-index:9999}
.z-index-1 {z-index:99}


.grid-col-2 {  grid-column: 2; }

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding:8rem 0;
}

.scroll{
  overflow: auto !important;
}

section figure {
  height: 100%;
}

.column {
  height: 83vh;
}

.slides {
  height: 100vh;
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.bg-light {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.bg-dark {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.intro-text {
  text-align: center;
  flex-direction: column !important;
}

.intro-text h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.intro-text p{
  font-size: 18px;
  max-width: 764px;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.slides img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: contain;
}

.next-prev {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  bottom: 1rem;
}

.next-prev a {
  height: 100%;
  flex: 1;
}

.next:hover {
  cursor: e-resize;
}

.prev:hover {
  cursor: w-resize;
}

.nav-action, .btn-close {
  color: var(--light-color);
  mix-blend-mode: difference;
  position: fixed;
  top: 0rem;
  left: 0rem;
  padding: 1rem;
  font-size: 2rem;
  z-index: 999999;
  transition: all .3s ease-in-out;
}

.nav-active {
  transform: rotate(45deg);
}

.offscreen-nav {
  top: 0 !important;
  background: var(--dark-color);
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  padding: 2rem 1rem;
  box-sizing: border-box;
  display: none;
  transition: all .3s ease-in-out;
  padding-top: 4.5rem;
}

.offscreen-nav > * {
  text-shadow: 0 0 2px #a1a1a1;
  mix-blend-mode: difference;
}

.nav-visible{
  display: flex;
  transition: all .3s ease-in-out;
}

.mob-show {
  display: none;
}

.name {
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1rem;
}

.visible {
  display: block !important;
}

@media screen and (min-width: 745px){

  .about-grid {
    max-height: 100vh;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
  }

  .about-grid .bio,
  .about-grid .parcour  {
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .about-grid .bio p{
    font-size: 3.25rem;
    line-height: 3.5rem;
  }

  .about-grid  .contact > *{
    flex: 1;
  }

  .about-grid  .contact p {
    margin-bottom: 1rem;
  }

  .about-grid .parcour p{
    font-size: 1.6rem;
    margin-bottom: 1.167rem;
  }

  .about-grid  .parcour h3{
    font-weight: 400;
  }
  .about-grid  .parcour h2{
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .bio, .parcour {
    padding: 3rem;
  }

  .bio::-webkit-scrollbar,
  .parcour::-webkit-scrollbar {
    display: none;
  }

  .parcour {
    padding-right: 4rem;
  }

  .contact {
    position: fixed;
    bottom: 0;
    align-items: end;
  }

  .section-footer, .arrow-down {
    display: none;
  }

  .close {
    display: block;
  }

  .nav-action{
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .nav-grid {
    grid-template-columns: 1.5fr 3fr 1fr;
  }
}

@media screen and (max-width: 744px) {
  .mob-hide {
    display: none;
  }
  .intro-text {
    margin-top: 4rem;
  }
  .mob-show {
    display: block;
  }
}

.video-outer {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 999;
}

.video-outer iframe {
  width: 100%;
  height: 100%;
}

.video-inner {
  width: 100%;
  height: 100%;
}